:root {
  --bg-dark: #4c5355;
  --bg-light: #cbcdcb;
  --text-light: #eee;
  --text-dark: #222;
  --accent-1: #c44b4f;
  --accent-1-dark:#AB3236; 
  --accent-2: #607d86;
}

.App {
  width:100%;
  background-color:var(--bg-dark);
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  color: var(--text-light);
}

.header {
  background-color: var(--accent-2);
  padding: 0em 0.5em;
}
.title {
  display: inline-block;
  font-size: 2em;
}

.content {
  width:100%;
  max-width: 700px;
  margin: auto;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.gridSelect {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1em 0.5em;
}
.previewContainer {
  width:100%;
  max-width: 500px;
  margin: auto;
}

/* .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem 0.5rem;
}
.buttonsButton {
  min-width: 160px;
  margin: 0.2rem
} */

.questions {
  min-height: 60px;
  overflow-y: auto;
  overflow-x: clip;  
  margin: 1em 0.5em;
}
.footer {
  background-color: var(--bg-light);
  color: var(--text-dark);
  padding: 1em 0.5em;
}

.preview svg{
  height:100%;
  width:100%;
}

/* button {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.5rem;
  margin: 0;
  text-decoration: none;
  background: var(--accent-1);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:hover,
button:focus {
  background:var(--accent-1-dark);
}
button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
button:active {
  transform: scale(0.99);
} */

.hidden {
  display: none;
}

.show {
  display: block;
}


button.icon-button {
  width: 50px;
  padding: 0.2em 0.2em;
  background: none;
  /* Aligning the content vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

button.icon-button svg {
  fill: var(--accent-1);
  stroke:black;
  stroke-width: 2;
}

button:hover.icon-button svg {
  fill: var(--accent-1-dark);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
}