label {
  display: flex;
  flex-direction: row;
  flex-wrap: 0;
  margin-bottom: 0.2rem;
}
.qa-label-text {
  width: 1rem;
  flex-shrink: 0;
  display:inline-block;
  text-align: right;
  margin-right: 1rem;
}
.qa-input {
  flex-shrink: 1;
  min-width: 0;
  width: 100%;
}
.qa-input-question {
  margin-right: 0.1rem
}